html,
body {
  font-family: "Roboto", "JetBrains Mono", monospace;
  font-size: 14px;
  line-height: 1;
}

#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

ol,
ul {
  list-style: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: unset;
}

.container {
  width: 960px;
  display: flex;
}

.main {
  padding: 16px 0;
  flex: 1 0 auto;
}
